$sidePaddings: 75px;
$mobileSidePaddings: 15px;

a {
	&, &:hover {
		color: $red;
	}
}

body {
	background: $green image_url('bg-light.png') no-repeat 0 0;

	@include before {
		background: image_url('bg-logo.png') no-repeat 66% 0;
		@include size(100%, 100%);
		@include pa();
		z-index: -1;
	}

	@include media($lg) {
		background-position: 50% 0;
	}
}

.body {
	position: relative;
	overflow: hidden;
}

header {
	padding: 100px 0 35px;

	@include media($xs) {
		padding-top: 80px;
	}

	@include before {
		@include size(100%, 37px);
		@include box-shadow(0 0 50px rgba(0, 0, 0, 0.5));
		@include pa();
	}
}

.content-wrapper {
	margin-bottom: 40px;
	//min-height: 300px;
	border-radius: 35px;
	@include box-shadow(0 0 15px rgba(0, 0, 0, 0.5));
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}

footer {
	padding: 18px 0;
	@include box-shadow(0 0 50px rgba(0, 0, 0, 0.5));
	font-size: 11px;
}

.menu-nav {
	$itemCount: 3;
	@include box-shadow(0 6px 8px rgba(0, 0, 0, 0.3));
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.5);
	overflow: hidden;

	> li {
		width: 100% / $itemCount;
		float: left;
		text-align: center;

		@include media($sm) {
			float: none;
			width: 100%;
		}

		&.active {
			a {
				&, &:hover, &:focus {
					background: #eee;
				}
			}
		}

		> a {
			@include neuropol;
			color: $red;

			&:hover, &:focus {
				background: none;
			}
		}
	}
}

.logo {
	display: block;
	@include image-block('logo.png');
	margin-bottom: 15px;
}

.page-title {
	@include neuropol;
	color: $red;
	background: #fff;
	font-size: 30px;
	padding: 30px $sidePaddings 15px;
	//margin: 0 (-$sidePaddings) 0 (-$sidePaddings);
	margin: 0;

	@include media($sm) {
		font-size: 25px;
		padding-left: $mobileSidePaddings;
		padding-right: $mobileSidePaddings;
	}
}

.content {
	background: rgba(214, 219, 219, 0.6) image_url('content-shadow-x.png') repeat-x;
	padding: 30px $sidePaddings;

	@include media($sm) {
		padding-left: $mobileSidePaddings;
		padding-right: $mobileSidePaddings;
	}
}