.inner-cube1 {
	margin-top: 50px;
	height: image-height('inner-cubes1.png');
	background: image-url('inner-cubes1.png') no-repeat 100% 0;
}

.inner-cube2 {
	margin-top: 50px;
	height: image-height('inner-cubes2.png');
	background: image-url('inner-cubes2.png') no-repeat 100% 0;
}

.cube {
	@include size(45px, 45px);
	background: image_url('cubics.png');
	//@include pa(0,0);
	float: left; // temp
}

@for $i from 1 through 8 {
	.cube-#{$i} {
		background-position: -(45px * $i) 0;
	}
}

//$fromTop: -10%;
$toTop: 90%;
$fromTop: 0;

@keyframes movement {
	from {
		top: $fromTop;
		//transform: rotate(0);
	}
	to {
		top: $toTop;
		//transform: rotate(360deg);
	}
}

@-moz-keyframes movement {
	from {
		top: $fromTop;
		//-moz-transform: rotate(0);
	}
	to {
		top: $toTop;
		//-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes movement {
	from {
		top: $fromTop;
		//-webkit-transform: rotate(0);
	}
	to {
		top: $toTop;
		//-webkit-transform: rotate(360deg);
	}
}

@-o-keyframes movement {
	from {
		top: $fromTop;
		//-o-transform: rotate(0);
	}
	to {
		top: $toTop;
		//-o-transform: rotate(360deg);
	}
}

@keyframes movement2 {
	from {
		top: $fromTop;
		//transform: rotate(0);
	}
	to {
		top: $toTop;
		//transform: rotate(-360deg);
	}
}

@-moz-keyframes movement2 {
	from {
		top: $fromTop;
		//-moz-transform: rotate(0);
	}
	to {
		top: $toTop;
		//-moz-transform: rotate(-360deg);
	}
}

@-webkit-keyframes movement2 {
	from {
		top: $fromTop;
		//-webkit-transform: rotate(0);
	}
	to {
		top: $toTop;
		//-webkit-transform: rotate(-360deg);
	}
}

@-o-keyframes movement2 {
	from {
		top: $fromTop;
		//-o-transform: rotate(0);
	}
	to {
		top: $toTop;
		//-o-transform: rotate(-360deg);
	}
}

@keyframes movement3 {
	from {
		top: $fromTop;
	}
	to {
		top: $toTop;
	}
}

@-moz-keyframes movement3 {
	from {
		top: $fromTop;
	}
	to {
		top: $toTop;
	}
}

@-webkit-keyframes movement3 {
	from {
		top: $fromTop;
	}
	to {
		top: $toTop;
	}
}

@-o-keyframes movement3 {
	from {
		top: $fromTop;
	}
	to {
		top: $toTop;
	}
}

.figure {
	@include pa();
	@include size(135px, 90px);
	z-index: -1;
	@include animation(movement 10s);

	.cube {
		@include pa(0, 45px);
	}
}

.figure-1 {
	@include animation(movement 10s);
}

.figure-2 {
	@include animation(movement2 10s);
	@include rotate(180deg)
}

.figure-3 {
	@include animation(movement3 10s);
	@include rotate(90deg)
}

.figure-4 {
	@include animation(movement3 10s);
	@include rotate(-90deg)
}

.figure-5 {
	@include animation(movement3 10s);
	@include rotate(-180deg)
}