.portfolio {
	position: relative;

	&__title {
		color: #2C5F5F;
		margin-top: 0;
		margin-bottom: 20px;
	}

	&__link {
		display: block;
		margin-bottom: 15px;
		@include neuropol;
	}

	&__back {
		@include neuropol;
		margin-bottom: 15px;

		.glyphicon {
			font-size: 30px;
		}

		a:hover {
			text-decoration: none;
		}
	}

	&__image {
		max-width: 100%;
		display: block;
		margin: 0 auto 15px;

		&_fixed-height {
			height: 600px
		}
	}

	&__teaser {
		font-size: 17px;
		font-style: italic;
	}

	&__controls {
		$size: 57px;
		position: absolute;
		left: -$size - 10;
		background: image_url('portfolio-controls.png');
		@include size($size, $size);
		//top: 50%;
		//margin-top: -$size / 2;
		top: 330px;
		cursor: pointer;

		&:hover {
			background-position: 0 (-$size);
		}

		&:focus {
			background-position: 0 (-$size * 2);
		}

		&_next {
			left: auto;
			right: -$size - 10;
			background-position: (-$size) 0;

			&:hover {
				background-position: (-$size) (-$size);
			}

			&:focus {
				background-position: (-$size) (-$size * 2);
			}
		}
	}
}