// required libs
@import "compass"; // do not import compass because there is a gulp plugin. To compile sass use 'gulp sass' from project root
@import "mixins";

// vars
$green: #308784;
$red: #994c21;
$grid-gutter-width: 15px;

// custom mixins
@font-face {
	font-family: 'neuropolmedium';
	src: url('../fonts/neuropol-medium/neuropol-medium.eot');
	src: url('../fonts/neuropol-medium/neuropol-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/neuropol-medium/neuropol-medium.woff') format('woff'), url('../fonts/neuropol-medium/neuropol-medium.ttf') format('truetype'), url('../fonts/neuropol-medium/neuropol-medium.svg#neuropolmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@mixin neuropol {
	font-family: 'neuropolmedium';
}

//modules
@import "modules/common";
@import "modules/portfolio";
@import "modules/cube";